@page "/analytics"

<PageTitle>Analytics</PageTitle>

<MudCard Class="m-4">
    <MudCardHeader>
        <div>
            <MudText Typo="Typo.h5">Analytics</MudText>
        </div>
    </MudCardHeader>
</MudCard>
